*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Mukta", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 300;
  min-height: 100vh;
  color: #333;
}
