.wrapper {
  display: flex;
  min-height: 100vh;
}

.logo {
  width: 14rem;
  &--small {
    width: 100%;
    height: auto;
  }
}

.navigation {
  background-image: linear-gradient($color-primary-light, $color-primary-dark);
  padding: 2.5rem 1rem;
  width: 25rem;
  display: flex;
  flex-flow: column;
  transition: all 0.2s;
  color: #fff;
  &--small {
    width: 10rem;
    padding: 2.5rem 0.5rem;
  }
}

.fullsize-menu,
.smallsize-menu {
  display: flex;
  align-items: center;
  flex-flow: column;
  flex-grow: 1;
  &__list {
    margin-top: 5rem;
  }
  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 2rem;
    transition: all 0.2s;
    &:hover {
      background-color: $color-primary-light-1;
    }
    & .menu-icon--big {
      margin-right: 1rem;
    }
  }
}

.smallsize-menu {
  &__item {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

.footer {
  @include flex-center;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  padding: 2rem 3rem;
}

.content {
  padding: 2rem 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  background-color: #d8e8ff; //#d8e8ff
}
