.main {
  width: 80vw;
  border: 1px solid red;
}

.header {
  border: 1px solid blueviolet;
  @include flex-center;
  padding: 2rem;
}

.logo-container {
  flex-grow: 1;
  @include flex-center;
}

.logo {
  width: 22rem;
  margin-left: 15rem;
}

.user-profile {
  & .btn--ghost {
    margin-right: 1rem;
  }
}

.wrapper {
  padding-top: 2rem;
  display: flex;
  opacity: 0.9;
}

.left-panel {
  width: 20%;
  margin-right: 2rem;
  border: 1px solid green;
  &__join {
    margin-bottom: 2rem;
  }
  &__join,
  &__extras {
    background-color: $color-white;
  }
}

.content {
  width: 80%;
  border: 1px solid pink;
  background-color: $color-white;
}
